/* General styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
}

.leftnav {
  width: 100%;
  padding: 0;
  margin: 0;
}

.leftnav a, .submenu {
  color: black;
  text-align: center;
  padding: 2px 8px;
  text-decoration: none;
}

.leftnav a:hover, .submenu:hover {
  background-color: #ddd;
}

.column.middle {
  width: 100%;
}

.hamburger {
  display: none;
}

.menu {
  display: float:left;  /* Initially, hide the menu */
}

.menu.show {
  display: block;  /* Show the menu when .show is added */
}

.menu .nav-link {
  display: none; /* Hide submenus by default */
}

.menu .nav-link.show {
  display: block; /* Show submenu when .show is added */
}

.submenu {
  cursor: pointer;
}

/* Responsive styles */
@media screen and (max-width: 760px) {
  .hamburger {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  .menu.show {
    display: block;  /* Show the menu when .show is added for mobile screens */
  }
  
  .nav-link, .submenu {
    display: none;
  }
  
  .nav-link.show, .submenu.show {
    display: block;
  }

  .header {
    height: 50px;
  }
}
