/* General styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.leftnav{	
		background:#0033FF;
		font-weight: bold;
		float: left;
		padding-top : 0px;
		padding-bottom : 0px;
		margin-left: auto;
		margin-right: auto;
		border-top: 1px solid #000000;
		border-bottom: 1px solid #000000;
}	

.leftnav a{
		text-decoration: none;
}		

.leftnav a:link{
		color: #FFFFFF;
}

.leftnav a:visited{
		color: #FFFFFF;
}

.leftnav a:hover{
		color: #6495ED;
}

.leftnav ul{
		list-style-type: none;
		overflow: hidden;
		margin: 0;
		padding-left: 0;
}
	

.leftnav li {
		width: 25%;
		text-decoration: none;
		background: #0033FF;
		color: #000;
		float: left;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
}

header {	
		text-align: center;
		background-color: #0000CC;
		color: #FFFFFF;
		font-family: Perpetua, serif;
		margin: 0;
		font-size: 150%;
		text-shadow: 2px 3px 4px #000000;
}		

/* Story content */
.column.middle {
  width: 100%;
 /* padding: 20px;*/
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  .leftnav a {
    float: none;
    width: 100%;
  }
}
