body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: 100vh;
    width: 70vw;
    position: absolute;
}

.container {
    display: flex;
    flex-direction: row;  /* ensure left-to-right layout */
    height: 100%;
}

nav {
    order: 0; /* This ensures the nav is on the left */
    flex: 0.3;  /* using up 30% of container width */
    overflow-y: auto;  /* for scrolling if the content exceeds the height */
    background-color: #f4f4f4;  /* just a shade for differentiation */
    height: 100%;
    box-sizing: border-box; /* ensures padding doesn't expand the element */
    padding: 10px;
}

#story-details {
    order: 1; /* This ensures the story details are on the right */
    flex: 0.7;  /* using up 70% of container width */
    overflow-y: auto;  /* for scrolling if the content exceeds the height */
    padding: 10px;
    height: 100%;
    box-sizing: border-box; /* ensures padding doesn't expand the element */
}

.nav-section {
    width: 100%;
    border-bottom: 1px solid #aaa;
    background-color: rgba(200, 200, 200, 0.8);
    transition: background-color 0.3s ease;
}

.nav-section:hover {
    background-color: rgba(150, 150, 150, 0.9);
}

.nav-section button {
    width: 100%;
    padding: 30px 10px;
    border: none;
    background: none;
    font-size: 1em;
    cursor: pointer;
    text-align: left;
    outline: none;
}

.story-content-section {
    width: 100%;
    padding: 10px;
}

img {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #map {
        width: 100vw;
        height: 50vh;
    }

    #story-details {
        width: 100vw;
        height: 50vh;
        top: 50vh;
        right: initial;
    }
}
